.types {
  background-color: $background;
  &__title {
    color: $item-text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    border-top: 1px solid #d9fff5;
    padding: 16px;
    background: linear-gradient(90deg, $background 0%, $white 98.61%);

    @media (min-width: 768px) {
      height: 56px;
      padding-left: 24px;
    }

    @media (min-width: 1120px) {
      padding-left: 32px;
    }
  }
  &__click {
    display: none;
    color: $main-text-color;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-left: 27px;
    cursor: pointer;

    @media (min-width: 768px) {
      display: block;
      padding-bottom: 34px;
    }
    &_show::before {
      content: "";
      background: url("/img/icon/click_down.svg");
      left: 5px;
      top: -3px;
      width: 24px;
      height: 24px;
      position: absolute;
    }
    &_hide::before {
      content: "";
      background: url("/img/icon/click_up.svg");
      left: 5px;
      top: -1px;
      width: 24px;
      height: 24px;
      position: absolute;
    }
  }
}
